.prediction-result-container {
	position: absolute;
	top: 50%;
	width: fit-content;
	background-color: black;

	.prediction-text {
		padding: 25px;
		font-size: 2em;
		color: white;
	}
}

.left {
	left: 25%;
}

.right {
	right: 25%;
}
