<div class="main-container">
  <div
    [ngStyle]="{
      'background-color':
        naivePrediction === null
          ? colors.NAIVE_NEUTRAL
          : naivePrediction.isSpam
          ? colors.RED
          : colors.GREEN
    }"
    class="naive-side"
  ></div>
  <div
    [ngStyle]="{
      'background-color':
        logisticPrediction === null
          ? colors.LOGISTIC_NEUTRAL
          : logisticPrediction.isSpam
          ? colors.RED
          : colors.GREEN
    }"
    class="logistic-side"
  ></div>
  <app-prediction-result
    *ngIf="naivePrediction"
    [isSpam]="naivePrediction.isSpam"
    [left]="true"
    [isLoading]="isNaiveLoading"
  ></app-prediction-result>
  <app-prediction-result
    *ngIf="logisticPrediction"
    [isSpam]="logisticPrediction.isSpam"
    [right]="true"
    [isLoading]="isLogisticLoading"
  ></app-prediction-result>
  <div
    [ngStyle]="{
      color: naivePrediction === null ? colors.BLACK : colors.WHITE
    }"
    class="naive-text algorithm-text"
  >
    Naive Bayes
  </div>
  <div
    [ngStyle]="{
      color: logisticPrediction === null ? colors.BLACK : colors.WHITE
    }"
    class="logistic-text algorithm-text"
  >
    Logistic Regression
  </div>

  <form
    (ngSubmit)="getPredictions()"
    (keydown.enter)="onEnterKeyPressed($event)"
    [formGroup]="predictionForm"
  >
    <mat-form-field>
      <mat-label>Write a message</mat-label>
      <textarea matInput formControlName="message"></textarea>
    </mat-form-field>
    <button
      type="submit"
      mat-flat-button
      color="primary"
      [disabled]="!predictionForm.valid"
    >
      Predict
    </button>
    <button (click)="reset()" type="button" mat-flat-button color="secondary">
      Reset
    </button>
  </form>
</div>

<div class="examples-menu">
  <button color="primary" mat-button [matMenuTriggerFor]="animals">
    Example messages
  </button>

  <mat-menu #animals="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="spamMenu">Spam</button>
    <button mat-menu-item [matMenuTriggerFor]="hamMenu">Ham</button>
  </mat-menu>

  <mat-menu #spamMenu="matMenu">
    <button (click)="loadExample(1)" mat-menu-item>Example 1</button>
    <button (click)="loadExample(2)" mat-menu-item>Example 2</button>
    <button (click)="loadExample(3)" mat-menu-item>Example 3</button>
  </mat-menu>

  <mat-menu #hamMenu="matMenu">
    <button (click)="loadExample(4)" mat-menu-item>Example 4</button>
    <button (click)="loadExample(5)" mat-menu-item>Example 5</button>
    <button (click)="loadExample(6)" mat-menu-item>Example 6</button>
  </mat-menu>
</div>

<router-outlet></router-outlet>
